<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - Personal Trainer Alina</title>
    <!-- Cargamos el CSS de la librería externa Lightbox y de los iconos de las redes sociales -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Estilos CSS de la galeria -->
     <link rel="stylesheet" href="../css/galeria.css">
     <!-- Estilos CSS de la página general -->
     <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    
    <!-- Cargamos el header de la página -->
    <div id="mi-header"></div>

    <!-- Contenido principal de la galería de imágenes -->
    <main>
        <section class="galeria" id="galeria">
            <h2>Galería</h2>
            <div class="grid-galeria">
                <a href="../assets/galeria/acai.jpg" data-lightbox="galeria" data-title="Acai">
                    <img src="../assets/galeria/acai.jpg" alt="Acai">
                </a>
                <a href="../assets/galeria/receta1.jpg" data-lightbox="galeria" data-title="receta1">
                    <img src="../assets/galeria/receta1.jpg" alt="receta1">
                </a>
                <a href="../assets/galeria/ejercicio1.jpg" data-lightbox="galeria" data-title="ejercicio1">
                    <img src="../assets/galeria/ejercicio1.jpg" alt="ejercicio1">
                </a>
                <a href="../assets/galeria/mancuernas.jpg" data-lightbox="galeria" data-title="mancuernas">
                    <img src="../assets/galeria/mancuernas.jpg" alt="mancuernas">
                </a>
                <a href="../assets/galeria/ejercicio2.jpg" data-lightbox="galeria" data-title="ejercicio2">
                    <img src="../assets/galeria/ejercicio2.jpg" alt="ejercicio2">
                </a>
                <a href="../assets/galeria/receta2.jpg" data-lightbox="galeria" data-title="receta2">
                    <img src="../assets/galeria/receta2.jpg" alt="receta2">
                </a>
            </div>
        </section>
    </main>

    <!-- Cargamos el footer -->
     <div id="mi-footer"></div>
   <!-- Cargamos el script -->
    <script src="../js/components.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Cargamos el JS de Lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
</body>
</html>