<!-- Footer pie de página -->
<footer class="site-footer">
    <!-- Iconos de las redes sociales -->
    <h4>Síguenos en nuestras redes sociales</h4>
        <div class="social-iconos">
            <a href="https://github.com/alipidev" target="_blank" aria-label="GitHub">
                <i class="fa-brands fa-github">
                    
                </i>
            </a>
            <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>
        <!-- Datos de la empresa -->
        <div class="footer-address">
            <address>
                Ayuntamiento Valencia
                <br>
                46003, Valencia, España
            </address>
        </div>
        <!-- Aviso Legal -->
    <div class="footer-content">
        <p>© 2026 Alipidev. Todos los derechos reservados. 
        <a href="../views/aviso-legal.html">Aviso Legal</a>
        </p>
    </div>
</footer>