<header class="site-header">
    <!-- Encabezado de la página web -->
     <div class="header-inner">
        <div class="logo">
            <h1>
                <a href="/index.html" class="logo-text">
                    PERSONAL TRAINER 
                </a>
            </h1>
        </div>
        <!-- Navegador -->
      <nav class="navbar">
        <ul>
            <li><a data-href="/index.html">Inicio</a></li>
            <li><a data-href="/views/galeria.html">Galería</a></li>
            <li><a data-href="/views/presupuesto.html">Presupuesto</a></li>
            <li><a data-href="/views/contacto.html">Contacto</a></li>
        </ul>
      </nav>

      <!-- Botón hamburguesa, solo visible en móvil -->
       <button class="btn-hamburguesa" id="btn-hamburguesa">
        <span></span>
        <span></span>
        <span></span>
       </button>
     </div>

     
</header>